.cabeçalho_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 96px;
    gap: 32px;
    width: 1900px;
    height: 300px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 64px;
    width: 1700px;
    height: 300px;
    justify-content: center;
    align-items: center;
}
.caixa{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    justify-content: space-around;
    width: 1600px;
    height: 192px;
}
.number{
    width: 280px;
    height: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.02em;
    color: #8E2424;
}
.subt_1{
    width: 280px;
    height: 48px;
   font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    margin-bottom: 40px;
}
@media screen and (max-width: 1440px) {
    .cabeçalho_2{
        width: 1440px;
        height: 288px;
        gap: 64px;
    }
    .container{
        width: 1280px;
    }
    .caixa{
        width: 1216px;
    }
}