.depoimentos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 96px;
    width: 1900px;
    height: 500px;
    background: #FFFFFF;
}
.container_depoimentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    gap: 32px;
    width: 1400px;
    height: 404px;
    background: rgba(196, 25, 25, 0.03);
    border-radius: 16px;
}
.caixa_inf{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    gap: 32px;
    width: 1680px;
    height: 404px;
}
.colaboradores_1{
    width: 1088px;
    height: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    text-align: center;

    color: #8E2424;
}
.colaboradores_2{
    width: 1088px;
    height: 88px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #101828;
}
.avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
    
    width: 1088px;
    height: 120px;    
}
.nome_avatar{
    width: 1088px;
    height: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #101828;
}
.profissao{
    width: 1088px;
    height: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #667085;
}
@media screen and (max-width: 1440px) {
    .depoimentos{
        width: 1440px;
    }
    .container_depoimentos{
        width: 1280px;
    }
    .caixa_inf{
        width: 1216px;
    }
}