
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 1900px;
    height: 80px;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
    width: 1760px;
    height: 44px;
}
li{
    list-style: none;
}
div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    
    width: 148px;
    height: 26.99px;
}
section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 32px;
    width: 1500px;
    height: 44px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.espaço{
    width: 500px;
    height: 32px;
}
.itens{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;
    
    width: 380px;
    height: 32px;
}
.entrar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    
    width: 80px;
    height: 44px;
    border-radius: 8px;    
}
.botao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    text-align: center;
    color: white;
    gap: 8px;

    width: 82px;
    height: 25px;

    background: #8E2424;
    border: 1px solid #8E2424;

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
.login{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    
    width: 207px;
    height: 44px;
}
.cabeçalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0px;
    gap: 24px;

    width: 1900px;
    height: 407px;
}
p{
    width: 78px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #8E2424;
}
.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 32px;
    gap: 12px;

    width: 652px;
    height: 60px;
}
.titulo_1{
    width: 603px;
    height: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.02em;
    color: #101828;

}
.sub{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 0px 0px;

    width: 792px;
    height: 83px;
}
.sub_1{
    width: 791px;
    height: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #667085;
}
.cabeçalho_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 96px;
    gap: 32px;
    width: 1900px;
    height: 288px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 32px;
    gap: 64px;
    width: 1700px;
    height: 192px;
}
.caixa{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    width: 1600px;
    height: 192px;

}
.item_1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 280px;
    height: 168px;
}
.inf_1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    width: 280px;
    height: 168px;
}
.number_1{
    width: 280px;
    height: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.02em;
    color: #8E2424;

}
.titles_1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 280px;
    height: 84px;

}
.title_1{
    width: 280px;
    height: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;

    color: #101828;
}
.subt_1{
    width: 280px;
    height: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #101828;
}
.item_1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 280px;
    height: 168px;
}
.inf_1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    width: 280px;
    height: 168px;
}
.number_1{
    width: 280px;
    height: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.02em;
    color: #8E2424;

}
.titles_1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 280px;
    height: 84px;

}
.title_1{
    width: 280px;
    height: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;

    color: #101828;
}
.subt_1{
    width: 280px;
    height: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #101828;
}