@media screen and (max-width: 1366px){
    body{
        width: 1366px;
    }
    nav{
        width: 1366px;
    }
    ul{
        width: 1187px;
    }
    section{
        width: 1187px;
    }
    .itens{
        width: 400px;
    }
    .espaço{
        width: 40px;
    }
    .vagas{
        width: 1366px;
        height: 2700px;
    }
    .talentos{
        width: 1187px;
    }
    .Vagas_abertas{
        width: 1187px;
    }
    .content{
        width: 1187px;
    }
    .heading{
        width: 712px;
    }
    .heading_2{
        width: 712px;
    }
        .badges{
            width: 125px;
        }
        .badge_title{
            width: 125px;
        }
        .vagasAbertas{
            width: 101px;
        }
    .procura{
        width: 712px;
    }
    .equipe{
        width: 712px;
    }
    .depoimentos{
        width: 1366px;
    }
    .container_depoimentos{
        width: 1187px;
    }
    .caixa_inf{
        width: 1153px;
    }
    .cabeçalho_2{
        width: 1366px;
        height: 288px;
        gap: 64px;
    }
    .container{
        width: 1187px;
    }
    .caixa{
        width: 1153px;
    }
    .cabeçalho{
        width: 1366px;
    }
    .formulario{
        width: 100%;
        
    }
    .rodapé{
        width: 100%;
    }
}