@import "./nav.css";
@import "./caixas.css";
@import "./caixa1.css";
@import "./caixa2.css";
@import "./caixa3.css";
@import "./caixa4.css";
@import "./main.css";
@import "./vagas.css";
@import "./depoimentos.css";
@import "./footer.css";
@import "./cabeçalho.css";
@import "./resp-notebook.css";
@import "./resp-tablet.css";
*{
    margin: 0;
    padding: 0;
}
body{
    width: 1900px;
}
@media screen and (max-width: 1440px) {
    body{
        width: 1440px;
    }
    main{
        width: 1440px;
    }
}