.vagas{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
    gap: 64px;
    width: 80%;
    height: fit-content;
}
.talentos{
    display: flex;
    flex-direction: column;    
    width: 100%;
    height: fit-content;
    gap: 32px;
    align-items: center;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 48px;
    width: 100%;
    height: 138px;
}

.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 100%;
    height: 138px;
}

.heading_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 100%;
    height: 88px;
}
.badges{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 780px;
    height: 138px;
}
.badge_title{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 137px;
    height: 45px;
}
.vagasAbertas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 137px;
    height: 28px;

    background: rgba(142, 36, 36, 0.05);
    border-radius: 16px;
}
.vagas_1 {
    width: 101px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    align-self: center;
    margin-bottom: 0;
    color: #8E2424;
}

.procura{
    width: 780px;
    height: 80px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.02em;    
    color: #101828;
}
.equipe{
    width: 780px;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #667085;
}
.img_1{
    width: 100%;
    height: 400px;
    left: 112px;
    top: 298px;
    margin-top: 50px;
    background: url(team.jpg);
}
.Vagas_abertas{
    gap: 24px;
    width: 100%;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}
.container_design{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;
    width: 1248px;
    height: 358px;
}
.titulo_emprego{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 24px 28px;
    gap: 50px;
    width: 100%;
    height: 136px;
    background: #FFFFFF;
    border: 1px solid #EAECF0;
    border-radius: 16px;
    justify-items: flex-start;
}
.salario{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}
.inf_job{
    width: auto;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    text-align: left;
}
.area{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #101828;
    width: 100%;
    text-align: left;
}
.divisao{
    height: 50px;
}